<%= form_with(model: folder, builder: RhinoFormBuilder) do |form| %>
  <%= form.error_messages %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, autofocus: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
