<%= form_with(model: post, id: "form", builder: RhinoFormBuilder) do |form| %>
  <%= form.error_messages %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, autofocus: true %>
  </div>

  <div>
    <%= form.label :folder_id, style: "display: block" %>
    <%= form.collection_select :folder_id, Folder.all, :id, :name %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.rhino_editor :body %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
