<!DOCTYPE html>
<html>
  <head>
    <title>Docbucket</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <header><%= link_to "log in as admin", admin_login_temp_path %></header>
    <%= yield %>
  </body>
</html>
