<!DOCTYPE html>
<html>
  <head>
    <title>Docbucket</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <header>
      <h1>Docbucket</h1>
      <%= button_to "log in as admin", "sessions/create" %>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
